<p>
  <mat-toolbar color="primary">

    <button mat-icon-button routerLink="/home" matTooltip="Home">
      <mat-icon>home</mat-icon>
    </button>
    <span>Blog</span>
    <span class="navbar-spacer"></span>
    <button routerLink="/createPost" mat-icon-button matTooltip="Add Post">
      <mat-icon>add</mat-icon>
    </button>
    <button routerLink="/login" mat-icon-button matTooltip="Log In">
      <mat-icon>login</mat-icon>
    </button>
    <!-- <button (click)="Logout()" mat-icon-button> 
      <mat-icon> logout </mat-icon>
    </button> -->
    <button routerLink="/aboutUser" mat-icon-button matTooltip="User Panel">
      <mat-icon>article</mat-icon>
    </button>
  </mat-toolbar>
</p>